<main>
    <div class="relative isolate px-6 pt-14 lg:px-8 mt-10">
        <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
            <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>
        <form id="searchForm" [formGroup]="searchForm" (ngSubmit)="onSubmit()">   
            <label for="username" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input type="search" [readOnly]="apiService.inProgressStatus['getUser']" id="username" autocomplete="off" formControlName="username" required class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Github Users, eg. johnpapa ..." required>
                <button type="submit" id="searchBtn" [disabled]="!searchForm.valid && (apiService.inProgressStatus['getUser'] || apiService.inProgressStatus['getAllRepos'])" class="text-white absolute end-2.5 disabled:bg-blue-300 bottom-2.5 bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
            </div>
            <div
                *ngIf="username?.invalid && (username?.dirty || username?.touched)"
                class="p-4 mb-2 mt-1 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" 
                role="alert"
                id="userNameErrorAlert"
                >
                <div *ngIf="username?.errors?.['required']">Username is required.</div>
            </div>
        </form>
        <app-user-profile [user]=user *ngIf="this.userName != ''"></app-user-profile>
        <app-repo-details [user]=user *ngIf="this.userName != ''"></app-repo-details>
    </div>
</main>